/*STYLE DROPDOWN*/

.dropdown-menu.extended {

    max-width: 500px !important;

    min-width: 160px !important;

    top: 42px;

    width: 85%!important;

    padding: 0;
	margin-right: 27px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;

    border: none !important;

    border-radius: 4px;

    -webkit-border-radius: 4px;

}




@media screen and (-webkit-min-device-pixel-ratio:0) {

    /* Safari and Chrome */

    .dropdown-menu.extended  {

        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;

    };

}

.dropdown-menu.extended li p {

/*GANTI BACKGROUND*/

    background-color: #303031;

    color: #666666;

    margin: 0;

    padding: 10px;    

}




.dropdown-menu.extended li a {

    border-bottom: 1px solid #666666 !important;

    font-size: 12px;

    list-style: none;

}



.dropdown-menu.extended li a {

    padding: 15px 10px !important;

    width: 100%;

    display: inline-block;

}


/*hover ilang gak*/
.dropdown-menu.extended li a:hover {

    background-color: #666666 !important;

    color: #666666;

    border-bottom: 1px solid #666666 !important;

}


.top-nav  {

    margin-top: 7px;

}



.top-nav ul.top-menu > li .dropdown-menu.logout {

    width: 100px !important;


}



.top-nav li.dropdown .dropdown-menu {

    float: right;

    right: 0;

    left: auto;

}



.dropdown-menu.extended.logout > li {

    float: left;

    text-align: left;

    width: 100%;

}

.dropdown-menu.extended.logout > li.eborder-top {

    border-top: 2px solid #d9534f !important;    

}

.dropdown-menu.extended.logout > li:last-child {

    float: left;

    text-align: left;

    width: 100%;

    /*background: #688a7e;  */  

}


.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child {
	background-color:#d9534f !important;
}



.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {

    color: #fff;

    border-bottom: none !important;

    text-transform: uppercase;

    background-color:#c9302c !important;

}



.dropdown-menu.extended.logout > li:last-child > a:hover > i{

    color: #fff;

}

.dropdown-menu > li > a{

    color: #666666;

}

.dropdown-menu.extended.logout > li > a {

    border-bottom: 1px solid #d9534f !important;

    font-size: 14px;

    list-style: none;

    padding: 15px 10px !important;

    width: 100%;

    display: inline-block;

}



.dropdown-menu.extended.logout > li > a:hover {

    background-color: #F7F8F9 !important;

    color: #2E2E2E;

    border-bottom: 1px solid #666666 !important;

}


/*coba aku ilangin
.dropdown-menu.extended.logout > li > a:hover i {

    color: #688a7e;

}*/



.dropdown-menu.extended.logout > li > a i {

    font-size: 17px;

}



.dropdown-menu.extended.logout > li > a > i {

    display: inline-block;

    padding-right: 10px

}



.top-nav .username {

    font-size: 18px;

    color: white;
	
	text-transform: capitalize;
	

}



.top-nav ul.top-menu > li > a {

    padding: 8px;

    background: none;

    margin-right: 0;

}

.top-nav ul.top-menu > li {

    margin-left: 10px;

}


/*
.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {    

/*ini aku ganti
    background: #666666;



}*/



.top-nav .dropdown-menu.extended.logout {

    top: 50px;

}




/*----*/
